/*index*/
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'Cairo', sans-serif;
}
header{
	width: 100%;
	background: #dcdcdc;
	display: flex;
}
footer{

	width: 100%;
	background: #071019;
}
main{
	width: 100%;
	background: #fff;
}
.header_logo{
	cursor: pointer;
	margin-left: 3%;
}
.topnav{
	color:#000;
	text-align: right;
	padding: 10px 12px;
	font-size: 16px;
}
.topnav a:hover{
	border-top: 3px solid #fcac45;
}
.topnav .icon{
	display: none;
}
main{
	display: flex;
	flex-direction: column;
	width: 100%;
}
main .main_name{
	text-align: center;
	padding: 100px 0 100px 0;
}
.wrapper{
	width: 76%;
	margin: 0 auto;
}
.main_about{
	text-align: left;
	padding: 100px 0 200px 0;
	color: #000;
	font-size: 20px;
	padding-bottom: 30px
}
.block{
	margin: 0 40px;
}
.bicon{
	width: 200px;
	height:100px;
	margin: 20px auto;
}
.Inf_about{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 4px:
}
/* Comments */
.Comment_form{
	background: #071019;
}
.Comment_wrapper{
	display: flex;
	color:#fff;
	width: 753px;
	margin-left: 10%;
	margin-top: 5%;
}
.Comment_left{
	margin-top: 5%;
	margin-right: 55%
}
.Comment_left h1{
	display: flex;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
	width: 45px;
}
.form_inputs{
	display: flex;
}
/* Contacts */
.Cont_wrapper{
	display: flex;
	Color:#fff;
	width: 100%;
}
.left_cont{
	margin-top: 10px;
	font-size: 10px;
	color: #fff;
	margin-right: 80%; 
}
.right_cont{
	margin-top: 20px;
	display: flex;
	font-size: 10px;
	color: #424242;
}
/* Comments */
input{
	height: 30px;
	margin-bottom:  20px;
}
input[type=text]{
	margin-top: 5%;
	width: 700px;
}
input[type=submit]{
	width: 200px;
	height: 60px;
	margin-bottom: 3%;
}
textarea{
	width: 700px;
	height: 200px;
}
input, textarea{
	font-size: 18px;	
	background: #071019;
	color: #01DF74;
	border: solid 0.01em #01DF74;
}
/* Comments.htm; */
.wrapper{
	display: flex;
}


/* NAVIGATION*/
@media screen and (max-width: 1200px){
	nav{
		margin-left: 0%
	}
}
@media screen and (max-width: 1105px){
	nav{
		margin-left: 0%
	}
}
@media screen and (max-width: 1200px){
	.topnav a{
		display: none;
	}
	.topnav a.icon{
		float:right;
		margin-top: -22px;
		display: block;
		color: #000;
		font-size: 25px;
	}

	.topnav.responsive{
		position: relative;
		top: 50px;

	}
	header .topnav.responsive{
		height: 240px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top:-50px;
		right: : 200px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
}
/* DOTS OPTIONS */
ul {
    list-style-type: none;
}
ul li {
    font-size: 18px;
    line-height: 40px;
    position: relative;
}
ul li::before {
    color: #000;
    content:"\2024";
    font-size: 35px;
    font-weight: 1000;
    left: -18px;
    line-height: 20px;        
    position: absolute;
    top: 0;
}
/* Main_aobut*/
.inf_about{
	grid-template-columns: auto;
}